.row{
  width: 100%;
  height: 500px;
  background-color: #E87E51

}

.col{
  height: 100%;
  width: 47%;
  border: 2px solid #white;
  display: inline-block;
  float: left;
  margin: 10px;

}

body{
  background-color: #FF0043;
}
#div1{
  text-emphasis: #E87E51;
  text-indent: 25%;
  text-shadow: 100%;

}
#box1{
  background-image: url(https://i.ytimg.com/vi/vRQQ0HfOip0/hqdefault.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#box3{
  background-image: url(https://ichef.bbci.co.uk/news/660/cpsprodpb/40DE/production/_105260661_gettyimages-578257624.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#box4{
  background-image: url(https://www.dogbreedplus.com/dog_breeds/images/bogle.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#box2{
  background-color: #E87E51;
  text-indent: 25%;


}
#box2 {
  text-indent: 25%;
}
#box6 {
  text-indent: 25%;
}
#box5{


}
